<div id="<%= dom_id spending %>" class="w-[95%] shadow-sm shadow-project-text text-project-text sm:w-11/12 flex-col sm:flex-row flex justify-between max-w-2xl gap-5 px-3 py-3 mx-auto bg-white hover:bg-gray-200">
  <p>
    <strong>Name:</strong>
    <%= spending.name %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= spending.author.name %>
  </p>

  <p>
    <strong>Amount:</strong>
    $<%= spending.amount %>
  </p>

</div>
