<div class="w-full shadow-sm shadow-project-text text-project-text max-w-xl px-3 py-3 mx-auto bg-white hover:bg-gray-200 border-project-text border-1 rounded-md">
  <div class="flex justify-between w-full">
    <p>Total Expenses</p>
    <p>$<%= @total_spending %></p>
  </div>
</div>
