<div class="w-full h-screen bg-blue-800 flex flex-col justify-center items-center text-white">
  <a href="/home">
    <h1 class="text-5xl w-full text-center font-black mb-4">Budget App</h1>
    <h2 class="text-2xl w-full text-center font-semibold">By lordksix</h2>
  </a>
</div>
